
body{
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfbfb;
  color: #f8f2f2;
  
      background-image: url('images/backround3.PNG'); /* Path to your image */
      background-size: cover;     /* Make the image cover the whole screen */
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      
 
}
 
    
header {
  
  background: #111010;
  padding: 20px;
  text-align: center;
  position: sticky;
}
header img {
  height: 100px;
}
h1 {
  margin: 10px 0;
  font-size: 36px;
  color: #61b8ce;
}
.slogan {
  color: #ccc;
  font-size: 12px;
  font-style: italic;
}


nav {
  background: #110f0f;
  text-align: center;
  padding: 10px;
}
nav a {
  color: #f8f1f1;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: #ffbb00;
}
section {
  padding: 30px 10%;
}
.section-title {
  font-size: 26px;
  color: #2994d1;
  border-bottom: 2px solid #287abd;
  margin-bottom: 20px;
}
footer {
  background: #111;
  text-align: center;
  padding: 15px;
  color: #e3edf1;
  font-size: 14px;
}
.member-card {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(78, 167, 226, 0.3);
  transition: transform 0.3s;
}

.member-card:hover {
  transform: scale(1.09);
}
.member-madara{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(67, 180, 245, 0.3);
  transition: transform 0.3s;
}
.member-madara:hover {
  transform: scale(1.09);
}
.member-card.reverse {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
  }
.member-card.reverse {
  flex-direction: row-reverse;
}
.member-naruto{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-naruto:hover {
  transform: scale(1.09);
}
.member-naruto {
  flex-direction: row-reverse;
}
.member-vishnu{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-vishnu:hover {
  transform: scale(1.09);
}
.member-rai{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-rai:hover {
  transform: scale(1.09);
}
.member-rai{
  flex-direction: row-reverse;
}
.member-kira{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-kira:hover {
  transform: scale(1.09);
}
.member-kira{
  flex-direction: row-reverse;
}
.member-rolex{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-rolex:hover {
  transform: scale(1.09);
  }
  .member-devil{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-devil:hover {
  transform: scale(1.09);
  }
   .member-breaker{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-breaker:hover {
  transform: scale(1.09);
  }
   .member-kutta{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-kutta:hover {
  transform: scale(1.09);
  }
  .member-villan{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-villan:hover {
  transform: scale(1.09);
}
.member-villan{
  flex-direction: row-reverse;
}
.member-sasuke{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-sasuke:hover {
  transform: scale(1.09);
}
.member-sasuke{
  flex-direction: row-reverse;
}
.member-santhosh{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-santhosh:hover {
  transform: scale(1.09);
}
.member-santhosh{
  flex-direction: row-reverse;
}
.member-sparten{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-sparten:hover {
  transform: scale(1.09);
}
.member-sparten{
  flex-direction: row-reverse;
}
.member-minato{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-minato:hover {
  transform: scale(1.09);
}
.member-minato{
  flex-direction: row-reverse;
}
.member-alert{
 display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
} 
.member-alert:hover {
  transform: scale(1.09);
}
.member-kathir{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-kathir:hover {
  transform: scale(1.09);
}
.member-leo{
 display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-leo:hover{
  transform: scale(1.09);
}
.member-ganesh{
 display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-ganesh:hover {
  transform: scale(1.09);
}
.member-akash{
 display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-akash:hover {
  transform: scale(1.09);
}
.member-veera{
 display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-veera:hover {
  transform: scale(1.09);
}
.member-raji{
 display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 165, 255, 0.3);
  transition: transform 0.3s;
}
.member-raji:hover {
  transform: scale(1.09);
}
.member-minato{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-minato:hover {
  transform: scale(1.09);
}
.member-minato{
  flex-direction: row-reverse;
}
.member-kishor{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-kishor:hover {
  transform: scale(1.09);
}
.member-kishor{
  flex-direction: row-reverse;
}
.member-mani{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-mani:hover {
  transform: scale(1.09);
}
.member-mani{
  flex-direction: row-reverse;
}

.member-rrking{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-rrking:hover {
  transform: scale(1.09);
}
.member-rrking{
  flex-direction: row-reverse;
}
.member-spider{
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.3);
  transition: transform 0.3s;
}
.member-spider:hover {
  transform: scale(1.09);
}
.member-spider{
  flex-direction: row-reverse;
}

.member-card.reverse .member-img {
  margin-left: 20px;
  margin-right: 0;
}
.member-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  border: 2px solid #ff4444;
}
.member-img1{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  border: 2px solid #5596c2;
}
.member-info h2 {
  margin: 0;
  color: #ffbb00;
}
.member-info p {
  margin: 8px 0;
}
.member-info a {
  color: #ff4444;
  text-decoration: none;
}
.member-info a:hover {
  text-decoration: underline;
}

